*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fff;
    color:#222;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    padding:20px 60px;
    align-items:center;
    background:white;
    position:sticky;
    top:0;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:bold;
    background:linear-gradient(45deg,#ff0080,#ff8c00);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    color:#333;
    font-weight:500;
}

nav a:hover{
    color:#ff0080;
}

/* HERO */
.hero{
    height:90vh;
    background:linear-gradient(135deg,#ff0080,#ff8c00);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.cta{
    padding:14px 35px;
    background:white;
    color:#ff0080;
    text-decoration:none;
    border-radius:40px;
    font-weight:bold;
    transition:0.3s;
}

.cta:hover{
    transform:scale(1.1);
}

/* CATEGORIES */
.categories{
    padding:80px 40px;
    text-align:center;
}

.categories h2{
    font-size:35px;
    margin-bottom:40px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.category{
    background:linear-gradient(45deg,#ff0080,#ff8c00);
    color:white;
    padding:40px;
    border-radius:20px;
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
}

.category:hover{
    transform:translateY(-10px);
}

/* MENU */
.menu{
    padding:80px 40px;
    background:#fafafa;
    text-align:center;
}

.menu h2{
    font-size:35px;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 30px rgba(0,0,0,0.08);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin:15px 0 5px;
}

.card span{
    display:block;
    margin-bottom:20px;
    font-weight:bold;
    color:#ff0080;
}

/* CONTACT */
.contact{
    background:linear-gradient(135deg,#ff0080,#ff8c00);
    color:white;
    text-align:center;
    padding:80px 20px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:white;
}

/* RESPONSIVE */
@media(max-width:768px){
    .hero h1{
        font-size:35px;
    }
    header{
        padding:15px 20px;
    }
    nav a{
        margin-left:15px;
    }
    .categories{
        padding:60px 20px;
    }
    .menu{
        padding:60px 20px;
    }
  }
